/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main
{
    background-image: url("assets/bg-intro-desktop.png");
    background-color: rgb(219, 41, 71);
}
.main-div
{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    padding: 50px 00;
}
.h1
{
    font-size: 50px;
    color: white;
    font-weight: 800;
}
.p1
{
    font-size: 15px;
    color: white;
    margin-top: 20px;

}
.div-part-1
{
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-part-2
{
    width: 44%;
    display: flex;
    flex-direction: column;
}
.div-part-3
{
    background-color: rgb(23, 23, 68);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 00;
    }
.div-part-3 a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
    
}
.h3
{
    font-size: 13px;
    color: white;
    font-weight: 100;
    margin-left: 6px;

}
.form-details
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
}
button
{
    background-color: rgb(12, 173, 160);
    color: white;
    font-size: 14px;
    border-radius: 3px;
    padding: 10px 00;
    border: 0;
}
input
{
    margin: 15px 00;
    border: 2px solid rgb(207, 204, 204);
    border-radius: 3px;
    padding: 10px 8px;
}
.T-head
{
font-size: 12px;
color: grey;
}
.terms a
{
text-decoration: none;
color: rgb(207, 45, 80);
font-size: 12px;
margin-left: 3px;

}
.terms 
{
    margin-top: 8px;
}